.container {
    margin: 50px 0;
    width: 90%;
}
.card {
    margin: 10px 2% !important;
    background: #f5f5f5 !important;
}

.infected {
    border-bottom: 10px solid yellow;
}

.recovered {
    border-bottom: 10px solid green;
}

.death {
    border-bottom: 10px solid red;
}